.contact {
    width: 36px;
    height: 36px;
    background-color: rgba(220, 244, 255, 0.884);
}

.blue {
    color: rgb(76, 73, 255);
}

.thumbnail {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;  
}